<title>Home</title>

{% include 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  <h2>
    Hello {{ user.username }}!
  </h2>
{% endif %}
<div class="container">
    <div class="row">
      <div class="col-md-6" align='center'>
        <h3>Shirts</h3>
        {% load static %}
        <a href="/shirts/"><img src="{% static "images/cover_shirt.png" %}" class="img-rounded" alt="Cinque Terre" width="300" height="350"></a>
      </div>
      <div class="col-md-6" align='center'>
        <h3 style="text-align: center">Pants</h3>
        <a href="/pants/"><img src="{% static "images/cover_pants.jpg" %}" class="img-rounded" alt="Cinque Terre" width="300" height="350"></a>
      </div>
      </div>
      <div class="row" align='center'>
      <div class="col-md-6">
        <h3 style="text-align: center">Shoes</h3>        
        <a href="/shoes/"><img src="{% static "images/cover_shoes.jpg" %}" class="img-rounded" alt="Cinque Terre" width="300" height="350"></a>
      </div>
      </div>
    </div>
{% endblock %}